.marquee {
    position: relative;
    height: 100px;
    width: 200px;
    overflow: hidden;

    .content {
        display: block;
    }

    .clone {
        margin: 0;
        padding: 0;
    }
}
